<app-sidebar></app-sidebar>


<div class="main-content">
    <div class="w3-main" style="margin-left:315px;margin-top:82px;">
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        <h4>Add New Item</h4>
                    </div>
                    <div class="card-body">
                        <form #frm="ngForm" (ngSubmit)="addItem(frm)">

                            <strong>Item ID :</strong>
                            <div class="form-group">
                                <input type="text" class="form-control" name="itemID" style="width:80%" ngModel
                                    required>
                            </div>
                            <strong>Item Name :</strong>
                            <div class="form-group">
                                <input type="text" class="form-control" name="itemName" style="width:80%" ngModel
                                    required>
                            </div>
                            <strong>Amount :</strong>
                            <div class="form-group">
                                <input type="text" class="form-control" name="itemAmount" style="width:80%" ngModel
                                    required>
                            </div>
                            <strong>Total Cost (Rs):</strong>
                            <div class="form-group">
                                <input type="text" class="form-control" name="totalCost" style="width:80%" ngModel
                                    required>
                            </div>
                            <strong>Dealer's name :</strong>
                            <div class="form-group">
                                <input type="text" class="form-control" name="dealersName" style="width:80%" ngModel
                                    required>
                            </div>
                            <br>
                            <button [disabled]="frm.invalid" class="btn btn-primary btn-round">Add Item</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        <h4>Oops! We are running out of..</h4>
                    </div>
                    <div class="card-body">


                    </div>
                </div>
            </div>
        </div>

        <br>
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h2>Stock Information</h2>
                </div>
                <div class="card-body">
                    <div class="table-full-width table-responsive"
                        style="height :400px; overflow-y: auto; overflow-x: hidden">
                        <table class="table">
                            <thead class="text-primary">
                                <th>
                                    Item ID
                                </th>
                                <th>
                                    Item Name
                                </th>
                                <th>
                                    Amount bought
                                </th>
                                <th class="text-center">
                                    available amount
                                </th>
                                <th class="text-center">
                                    Quick Actions
                                </th>
                                <th class="text-center">
                                    View More Information
                                </th>
                            </thead>
                            <tbody>
                                <tr *ngFor='let item of stockitems | async'>
                                    <td>{{item.itemID}}</td>
                                    <td>{{item.itemName}}</td>
                                    <td>{{item.itemAmount}}</td>
                                    <td></td>
                                    <td class="text-center">
                                        <button type="button" rel="tooltip" title="Delete Item From Store"
                                            class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral"
                                            (click)="deleteCrop(crop.id)">
                                            <i class="fa fa-remove"></i>
                                        </button>
                                        <button type="button" rel="tooltip" title="Edit Item"
                                            class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral"
                                            (click)="approveCrop(crop.id)">
                                            <i class="fa fa-edit"></i>
                                        </button>
                                    </td>
                                    <td class="text-center">
                                        <button class="btn btn-info btn-round" (click)="open(info)">More Info</button>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
<footer class="w3-container w3-theme-d5">
    <p>Made by group 8</p>
</footer>