<app-sidebar></app-sidebar>


<div class="main-content">
    <div class="w3-main" style="margin-left:315px;margin-top:82px;">
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        <h4>Add New Item</h4>
                    </div>
                    <div class="card-body">
                        <form #frm="ngForm" (ngSubmit)="addItem(frm)" name="form_stock_add">

                            <strong>Item ID :</strong>
                            <div class="form-group">
                                <input type="text" class="form-control" name="itemID" style="width:80%" ngModel
                                    required>
                            </div>
                            <strong>Item Name :</strong>
                            <div class="form-group">
                                <input type="text" class="form-control" name="itemName" style="width:80%" ngModel
                                    required>
                            </div>
                            <strong>Amount (l/peices) :</strong>
                            <div class="form-group">
                                <input type="text" class="form-control" name="itemAmount" style="width:80%" ngModel
                                    required>
                            </div>

                            <strong>Total Cost (Rs):</strong>
                            <div class="form-group">
                                <input type="text" class="form-control" name="totalCost" style="width:80%" ngModel
                                    required>
                            </div>
                            <strong>Dealer's name :</strong>
                            <div class="form-group">
                                <input type="text" class="form-control" name="dealersName" style="width:80%" ngModel
                                    required>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="availableAmount"
                                    style="visibility:hidden">
                            </div>
                            <button [disabled]="frm.invalid" class="btn btn-primary btn-round">Add Item</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        <h4>Consumed Item</h4>
                    </div>
                    <div class="card-body">
                        <form #form="ngForm" (ngSubmit)="reduceItem(form)">

                            <strong>Item ID :</strong>
                            <div class="form-group">
                                <input type="text" class="form-control" name="itemID" style="width:80%" ngModel
                                    required>
                            </div>
                           
                            <strong>Amount(L/peices) :</strong>
                            <div class="form-group">
                                <input type="text" class="form-control" name="itemAmount" style="width:80%" ngModel
                                    required>
                            </div>
                          
                            <button [disabled]="form.invalid" class="btn btn-primary btn-round">Reduce Item</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h2>Stock Information</h2>
                </div>
                <div class="card-body">
                    <div class="table-full-width table-responsive"
                        style="height :400px; overflow-y: auto; overflow-x: hidden">
                        <table class="table">
                            <thead class="text-primary">
                                <th>
                                    Item ID
                                </th>
                                <th>
                                    Item Name
                                </th>
                                <th>
                                    Amount bought
                                </th>
                                <th class="text-center">
                                    available amount
                                </th>
                                <th class="text-center">
                                    Quick Actions
                                </th>
                                <th class="text-center">
                                    View More Information
                                </th>
                            </thead>
                            <tbody>
                                <tr *ngFor='let item of stockitems' >
                                    <td class="text-center">{{item.itemID}}</td>
                                    <td class="text-center">{{item.itemName}}</td>
                                    <td class="text-center">{{item.itemAmount}}</td>
                                    <td class="text-center">{{item.availableAmount}}</td>
                                    <td class="text-center">
                                        <button type="button" rel="tooltip" title="Delete Item From Stock"
                                            class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral" style="margin-right: 7px"
                                            (click)="deleteItem(item._id)">
                                            <i class="fa fa-remove"></i>
                                        </button>

                                        <button type="button" rel="tooltip" title="Edit Item"
                                            class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral"
                                            (click)="approveCrop(crop.id)">
                                            <i class="fa fa-edit"></i>
                                        </button>
                                    </td>
                                    <td class="text-center">
                                        <button class="btn btn-info btn-round" (click)="openLg(info)">More Info</button>
                                    </td>

                                    <ng-template #info let-c="close" let-d="dismiss">
                                        <div class="modal-header">
                                          <h5 class="modal-title text-center">{{item.itemName}}'s Expanded Details</h5>
                                          <button type="button" class="close" (click)="d('Cross click')">
                                            <span aria-hidden="true">&times;</span>
                                          </button>
                                        </div>
                                        <div class="row" style="padding:5px">
                                          <div class="col-6">
                                            <strong>Item ID : </strong>{{item.itemID}}<br>
                                            <strong>Item Name : </strong>{{item.itemName}}<br>
                                            <strong>Amount Bought : </strong>{{item.itemAmount}}<br>
                                            <strong> available Amount : </strong>{{item.availableAmount}}<br>
                                          </div> 
                                          <div class="col-5">
                                            <strong>Total Cost : </strong><br>{{item.totalCost}}<br>
                                            <strong>Date : </strong><br>{{item.totalCost}}<br>

                                          </div><br>
                                          <div class="col-4">
                                            <strong>Dealer's Name : </strong>{{item.dealersName}}<br>
                                          </div>
                                          <div class="col-4">
                                          </div>
                                        </div>
                                        <div class="row" style="padding:5px">
                                        </div>
                                        <div class="modal-footer">
                                          <div class="divider"></div>
                                          <div class="right-side">
                                            <button type="button" class="btn" style="color: red" (click)="c('Close click')">Dismiss</button>
                                          </div>
                                        </div>
                                      </ng-template>
                                </tr>
                                <a style="color:red">{{deleteMessage}}</a>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
<footer class="w3-container w3-theme-d5">
    <p>Made by group 8</p>
</footer>