<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body class="w3-light-grey">

  <!-- Sidebar/menu -->
  <nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>

    <nav class="navbar navbar-expand-lg navbar-light">
      <p><b> Rio Top Servise Station</b> </p>
    </nav>
    
    <div class="w3-bar-block">
        <div class="c">
            <p>WELLCOME TO RIOTOP</p>
        </div>
      <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black"
        onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
      <a class="w3-bar-item w3-button w3-padding"><i class="fa fa-users fa-fw"></i>  Overview</a>
      <a class="w3-bar-item w3-button w3-padding" (click)="managestock()"><i class="fa fa-users fa-fw"></i> 
        Stock Management</a>
      <a class="w3-bar-item w3-button w3-padding" (click)="attendanceLogin()"><i class="fa fa-eye fa-fw"></i> 
        Genarate Reports</a>
      <a class="w3-bar-item w3-button w3-padding" (click)="yearPlanLogin()"><i class="fa fa-bullseye fa-fw"></i>
        View User</a>
      <a class="w3-bar-item w3-button w3-padding" (click)="adminForumLogin()"><i class="fa fa-book fa-fw"></i> 
        Forum</a>
      <a class="w3-bar-item w3-button w3-padding" (click)="salaryLogin()"><i class="fa fa-bell fa-fw"></i>  Salary</a>
      <a class="w3-bar-item w3-button w3-padding" (click)="feesLogin()"><i class="fa fa-bank fa-fw"></i>  Fees</a>
      <a class="w3-bar-item w3-button w3-padding" (click)="leavesLogin()"><i class="fa fa-history fa-fw"></i> Leaves</a>
      <a class="w3-bar-item w3-button w3-padding" (click)="settingsLogin()"><i class="fa fa-cog fa-fw"></i> 
        Settings</a>
        <br><br>
        <button class="w3-button w3-block w3-green w3-section w3-padding" type="submit" (click)='admindash()'>Sinhala Translate</button>
        <button class="w3-button w3-block w3-green w3-section w3-padding" type="submit" (click)='admindash()'>English Translate</button>
    </div>
  </nav>


  <!-- Overlay effect when opening sidebar on small screens -->
  <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer"
    title="close side menu" id="myOverlay"></div>

  <!-- !PAGE CONTENT! -->
  <div class="w3-main" style="margin-left:300px;margin-top:43px;">

    <hr>
    <header class="w3-container" style="padding-top:22px">
      <h5><b><i class="fa fa-dashboard"></i> My Dashboard</b></h5>
    </header>

    <div class="w3-row-padding w3-margin-bottom">
      <div class="w3-quarter">
        <div class="w3-container w3-red w3-padding-16">
          <div class="w3-left"><i class="fa fa-comment w3-xxxlarge"></i></div>
          <div class="w3-right" >
            <h3>{{numposts}}</h3>
          </div>
          <div class="w3-clear"></div>
          <h4>Forum Posts</h4>
        </div>
      </div>
      <div class="w3-quarter">
        <div class="w3-container w3-blue w3-padding-16">
          <div class="w3-left"><i class="fa fa-users w3-xxxlarge"></i></div>
          <div class="w3-right">
            <h3>{{numusers}}</h3>
          </div>
          <div class="w3-clear"></div>
          <h4>Users</h4>
        </div>
      </div>
      <div class="w3-quarter">
        <div class="w3-container w3-teal w3-padding-16">
          <div class="w3-left"><i class="fa fa-share-alt w3-xxxlarge"></i></div>
          <div class="w3-right">
            <h3>{{numveh}}</h3>
          </div>
          <div class="w3-clear"></div>
          <h4>Vehicles</h4>
        </div>
      </div>
      <div class="w3-quarter">
        <div class="w3-container w3-orange w3-text-white w3-padding-16">
          <div class="w3-left"><i class="fa fa-users w3-xxxlarge"></i></div>
          <div class="w3-right">
            <h3>{{result1}}</h3>
          </div>
          <div class="w3-clear"></div>
          <h4>Students</h4>
        </div>
      </div>
    </div>

    <div class="w3-panel">
      <div class="w3-row-padding" style="margin:0 -16px">
        <div class="w3-third">
          <img src="/assets/images/bg-title-01.jpg" style="width:100%" alt="Google Regional Map">
        </div>
        <div class="w3-twothird">
          <h5><b>Student ID Numbers</b></h5>
          <table class="w3-table w3-striped w3-white">

            <li *ngFor="let x of StdNamesAndIDs| async">
              <tr>
                <td><i class="fa fa-user w3-text-blue w3-large"></i></td>
                <td class="space2">{{x.s_ID}}</td>
                <td class="space2"><i>{{x.stdName}}</i></td>
              </tr>
            </li>

          </table>
        </div>
      </div>
    </div>
    <hr>
<!--Table-->
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-align-justify"></i> Appointments to be approved
          </div>
          <div class="card-body">
            <table class="table table-bordered table-striped table-sm">
              <thead>
                <tr>
                  <th>Username</th>
                  <th>Date</th>
                  <th>Time</th>
                  <th>Package</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Vishnu Serghei</td>
                  <td>2012/01/01</td>
                  <td>Member</td>
                  <td>
                    <span class="badge badge-success">Active</span>
                  </td>
                </tr>
                <tr>
                  <td>Zbyněk Phoibos</td>
                  <td>2012/02/01</td>
                  <td>Staff</td>
                  <td>
                    <span class="badge badge-danger">Banned</span>
                  </td>
                </tr>
                <tr>
                  <td>Einar Randall</td>
                  <td>2012/02/01</td>
                  <td>Admin</td>
                  <td>
                    <span class="badge badge-secondary">Inactive</span>
                  </td>
                </tr>
                <tr>
                  <td>Félix Troels</td>
                  <td>2012/03/01</td>
                  <td>Member</td>
                  <td>
                    <span class="badge badge-warning">Pending</span>
                  </td>
                </tr>
                <tr>
                  <td>Aulus Agmundr</td>
                  <td>2012/01/21</td>
                  <td>Staff</td>
                  <td>
                    <span class="badge badge-success">Active</span>
                  </td>
                </tr>
              </tbody>
            </table>
            <nav>
              <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                <li class="page-item active">
                  <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
      <div class="w3-container">
        <h5><b>Staff ID Numbers</b></h5>
        <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">

          <li *ngFor="let x of StfNamesAndIDs| async">
            <tr>
              <td><i class="fa fa-users w3-text-yellow w3-large"></i></td>
              <td class="space3">{{x.staff_ID}}</td>
              <td class="space3">{{x.name}}</td>
            </tr>
          </li>

        </table>
        <br>
      </div>
      <hr>

      <br>
      <div class="w3-container w3-dark-grey w3-padding-32">
        <div class="w3-row">
          <div class="w3-container w3-third">
            <h5 class="w3-bottombar w3-border-green">Address</h5>
            <p> “Singithi Kids Paradise Early Childhood Development Center,”</p>
            <p>Henpitagedara,</p>
            <p>Dunagaha.</p>
          </div>

          <div class="w3-container w3-third">
            <h5 class="w3-bottombar w3-border-red">Contact</h5>
            <p>0112 568 962</p>
            <p>sigithikids@gmail.com</p>
          </div>

          <div class="w3-container w3-third">
            <h5 class="w3-bottombar w3-border-orange">vision</h5>
            <p>"Our goal is to activate the child's own natural desire to learn and to prepare them not only
              for the school but also for the life !!"</p>
          </div>
        </div>
      </div>

      <!-- Footer -->
      <img src="/assets/images/bg-title-02.jpg" class="img-responsive" style="width:100%">

      <footer class="w3-container w3-theme-d5">
        <p>Made by group 8</p>
      </footer>

      <!-- End page content -->
    </div>